absl-py==2.2.1
accelerate==1.5.2
action-msgs==1.2.2
action-tutorials-interfaces==0.20.5
action-tutorials-py==0.20.5
actionlib-msgs==4.9.0
addict==2.4.0
aenum==3.1.15
aioboto3==14.1.0
aiobotocore==2.21.1
aiofiles==23.2.1
aiohappyeyeballs==2.5.0
aiohttp==3.11.13
aioitertools==0.12.0
aiolimiter==1.2.1
aiosignal==1.3.2
airportsdata==20250224
ament-cmake-test==1.3.12
ament-copyright==0.12.14
ament-cppcheck==0.12.14
ament-cpplint==0.12.14
ament-flake8==0.12.14
ament-index-python==1.4.0
ament-lint==0.12.14
ament-lint-cmake==0.12.14
ament-package==0.14.1
ament-pep257==0.12.14
ament-uncrustify==0.12.14
ament-xmllint==0.12.14
angles==1.15.0
annotated-types==0.7.0
anthropic==0.49.0
anyio==4.8.0
anytree==2.12.1
ascii_colors==0.5.2
asttokens==3.0.0
async-timeout==4.0.3
asyncpg==0.30.0
attrs==25.1.0
autograd==1.7.0
backoff==2.2.1
bcrypt==4.3.0
beartype==0.18.5
beautifulsoup4==4.13.3
bitsandbytes==0.45.4
blinker==1.9.0
boto3==1.37.1
botocore==1.37.1
browser-use==0.1.40
browsergym==0.13.3
browsergym-assistantbench==0.13.3
browsergym-core==0.13.3
browsergym-experiments==0.13.3
browsergym-miniwob==0.13.3
browsergym-visualwebarena==0.13.3
browsergym-webarena==0.13.3
browsergym-workarena==0.4.1
builtin-interfaces==1.2.2
cachetools==5.5.2
cairocffi==1.7.1
CairoSVG==2.8.2
certifi==2025.1.31
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.1
click==8.1.8
cloudpickle==3.1.1
colorama==0.4.6
coloredlogs==15.0.1
composition-interfaces==1.2.2
configparser==7.2.0
contourpy==1.3.1
cryptography==44.0.2
cssselect2==0.8.0
cv-bridge==3.2.1
cycler==0.12.1
dataclasses-json==0.6.7
datasets==3.2.0
decorator==5.2.1
defusedxml==0.7.1
demo-nodes-py==0.20.5
diagnostic-msgs==4.9.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
domain-coordinator==0.10.0
easydict==1.13
ecdsa==0.19.1
einops==0.8.1
english-words==2.0.1
evaluate==0.4.3
example-interfaces==0.9.3
examples-rclpy-executors==0.15.4
examples-rclpy-minimal-action-client==0.15.4
examples-rclpy-minimal-action-server==0.15.4
examples-rclpy-minimal-client==0.15.4
examples-rclpy-minimal-publisher==0.15.4
examples-rclpy-minimal-service==0.15.4
examples-rclpy-minimal-subscriber==0.15.4
executing==2.2.0
Faker==37.0.0
Farama-Notifications==0.0.4
fastapi==0.115.11
ffmpy==0.5.0
filelock==3.17.0
fire==0.7.0
Flask==3.1.0
flatbuffers==25.2.10
fonttools==4.56.0
frozenlist==1.5.0
fsspec==2024.9.0
future==1.0.0
gazebo-msgs==3.9.0
gensim==4.3.3
genson==1.3.0
geometry-msgs==4.9.0
googlesearch-python==1.3.0
gradio==5.23.0
gradio_client==1.8.0
graspologic==3.4.1
graspologic-native==1.2.3
greenlet==3.1.1
gremlinpython==3.7.3
groovy==0.1.2
grpcio==1.67.1
gymnasium==1.0.0
h11==0.14.0
hnswlib==0.8.0
html2text==2024.2.26
httpcore==1.0.7
httpx==0.28.1
httpx-sse==0.4.0
huggingface-hub==0.29.2
humanfriendly==10.0
hyppo==0.4.0
identify==2.6.9
idna==3.10
image-geometry==3.2.1
imageio==2.37.0
interactive-markers==2.3.2
interchange==2021.0.4
interegular==0.3.3
ipython==9.0.2
ipython_pygments_lexers==1.1.1
iso3166==2.1.1
isodate==0.7.2
itsdangerous==2.2.0
jedi==0.19.2
Jinja2==3.1.6
jiter==0.9.0
jmespath==1.0.1
joblib==1.4.2
jsonlines==4.0.0
jsonpatch==1.33
jsonpickle==4.0.2
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
kiwisolver==1.4.8
langchain-anthropic==0.3.3
langchain-core==0.3.43
langchain-ollama==0.2.2
langchain-openai==0.3.1
langsmith==0.3.13
lark==1.2.2
laser-geometry==2.4.0
launch==1.0.10
launch-ros==0.19.10
launch-testing==1.0.10
launch-testing-ros==0.19.10
launch-xml==1.0.10
launch-yaml==1.0.10
lazy_loader==0.4
libvisualwebarena==0.0.15
libwebarena==0.0.4
lifecycle-msgs==1.2.2
llvmlite==0.44.0
lmdeploy==0.7.2.post1
logging-demo==0.20.5
loguru==0.7.3
lxml==5.3.1
map-msgs==2.1.0
Markdown==3.7
markdown-it-py==3.0.0
markdownify==0.14.1
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib==3.10.1
matplotlib-inline==0.1.7
mcp==1.4.1
mdurl==0.1.2
message-filters==4.3.8
milvus-lite==2.4.12
mmengine-lite==0.10.7
monotonic==1.6
mpmath==1.3.0
msgpack==1.1.0
multidict==6.1.0
multiprocess==0.70.16
mypy-extensions==1.0.0
nano-vectordb==0.0.4.3
nav-msgs==4.9.0
neo4j==5.28.1
nest-asyncio==1.6.0
networkx==3.4.2
nltk==3.9.1
nodeenv==1.9.1
numba==0.61.0
numpy==1.26.4
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
ollama==0.4.7
onnxruntime-gpu==1.21.0
openai==1.58.1
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
oracledb==3.0.0
orjson==3.10.15
osrf-pycommon==2.1.6
outlines==0.2.1
outlines_core==0.1.26
packaging==24.2
pandas==2.2.3
pansi==2024.11.0
parso==0.8.4
partial-json-parser==0.2.1.1.post5
passlib==1.7.4
patsy==1.0.1
pcl-msgs==1.0.0
peft==0.14.0
pendulum-msgs==0.20.5
pexpect==4.9.0
pillow==10.4.0
pipmaster==0.5.1
platformdirs==4.3.7
playwright==1.49.1
portalocker==3.1.1
posthog==3.19.1
POT==0.9.5
pre_commit==4.2.0
prompt_toolkit==3.0.50
propcache==0.3.0
protobuf==5.29.4
psutil==7.0.0
psycopg==3.2.6
psycopg-binary==3.2.6
psycopg-pool==3.2.6
ptyprocess==0.7.0
pure_eval==0.2.3
py-cpuinfo==9.0.0
py2neo==2021.2.4
pyarrow==19.0.1
pyasn1==0.4.8
pybind11==2.13.1
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydub==0.25.1
pyee==12.0.0
Pygments==2.19.1
PyJWT==2.8.0
pymilvus==2.5.6
pymongo==4.11.3
PyMySQL==1.1.1
pynndescent==0.5.13
pynvml==12.0.0
pyparsing==3.2.1
PyQt5==5.15.11
PyQt5-Qt5==5.15.16
PyQt5_sip==12.17.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-jose==3.4.0
python-multipart==0.0.20
python-qt-binding==1.1.2
python-rapidjson==1.20
pytz==2025.1
pyvis==0.3.2
PyYAML==6.0.2
qt-dotgraph==2.2.4
qt-gui==2.2.4
qt-gui-cpp==2.2.4
qt-gui-py-common==2.2.4
quality-of-service-demo-py==0.20.5
ray==2.44.0
rcl-interfaces==1.2.2
rclpy==3.3.17
rcutils==5.1.6
referencing==0.36.2
regex==2024.11.6
reportlab==4.4.3
requests==2.32.3
requests-toolbelt==1.0.0
resource-retriever==3.1.3
rich==13.9.4
rmw-dds-common==1.6.0
ros2action==0.18.13
ros2bag==0.15.15
ros2cli==0.18.13
ros2component==0.18.13
ros2doctor==0.18.13
ros2interface==0.18.13
ros2launch==0.19.10
ros2lifecycle==0.18.13
ros2multicast==0.18.13
ros2node==0.18.13
ros2param==0.18.13
ros2pkg==0.18.13
ros2run==0.18.13
ros2service==0.18.13
ros2topic==0.18.13
rosbag2-interfaces==0.15.15
rosbag2-py==0.15.15
rosgraph-msgs==1.2.2
rosidl-adapter==3.1.7
rosidl-cli==3.1.7
rosidl-cmake==3.1.7
rosidl-generator-c==3.1.7
rosidl-generator-cpp==3.1.7
rosidl-generator-py==0.14.5
rosidl-parser==3.1.7
rosidl-runtime-py==0.9.3
rosidl-typesupport-c==2.0.2
rosidl-typesupport-cpp==2.0.2
rosidl-typesupport-fastrtps-c==2.2.2
rosidl-typesupport-fastrtps-cpp==2.2.2
rosidl-typesupport-introspection-c==3.1.7
rosidl-typesupport-introspection-cpp==3.1.7
rpds-py==0.23.1
rpyutils==0.2.1
rqt-action==2.0.1
rqt-bag==1.1.5
rqt-bag-plugins==1.1.5
rqt-console==2.0.3
rqt-graph==1.3.1
rqt-gui==1.1.7
rqt-gui-py==1.1.7
rqt-msg==1.2.0
rqt-plot==1.1.5
rqt-publisher==1.5.0
rqt-py-common==1.1.7
rqt-py-console==1.0.2
rqt-reconfigure==1.1.2
rqt-service-caller==1.0.5
rqt-shell==1.0.2
rqt-srv==1.0.3
rqt-topic==1.5.0
rsa==4.9
ruff==0.11.2
s3transfer==0.11.3
sacrebleu==2.5.1
safehttpx==0.1.6
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.6.1
scipy==1.12.0
scripts==3.9.0
seaborn==0.13.2
semantic-version==2.10.0
sensor-msgs==4.9.0
sensor-msgs-py==4.9.0
sentence-transformers==3.4.1
sentencepiece==0.2.0
setuptools==75.8.0
shape-msgs==4.9.0
shapely==2.0.7
shellingham==1.5.4
shortuuid==1.0.13
six==1.17.0
smart-open==7.1.0
sniffio==1.3.1
soupsieve==2.6
SQLAlchemy==2.0.39
sros2==0.10.7
sse-starlette==2.2.1
stack-data==0.6.3
starlette==0.46.1
statistics-msgs==1.2.2
statsmodels==0.14.4
std-msgs==4.9.0
std-srvs==4.9.0
stereo-msgs==4.9.0
svg.path==7.0
svglib==1.5.1
sympy==1.13.1
tabulate==0.9.0
teleop-twist-keyboard==2.4.0
tenacity==9.0.0
tensorboard==2.19.0
tensorboard-data-server==0.7.2
termcolor==2.5.0
text-generation==0.7.0
tf2-geometry-msgs==0.25.16
tf2-kdl==0.25.16
tf2-msgs==0.25.16
tf2-py==0.25.16
tf2-ros-py==0.25.16
tf2-sensor-msgs==0.25.16
tf2-tools==0.25.16
threadpoolctl==3.6.0
tifffile==2025.2.18
tiktoken==0.7.0
tinycss2==1.4.0
tokenizers==0.21.0
tomlkit==0.13.2
topic-monitor==0.20.5
torch==2.5.1
torchvision==0.20.1
tqdm==4.67.1
traitlets==5.14.3
trajectory-msgs==4.9.0
transformers==4.49.0
transformers-stream-generator==0.0.5
triton==3.1.0
tritonclient==2.55.0
turtlesim==1.4.2
typer==0.15.2
types-requests==2.32.0.20250306
types-tqdm==4.67.0.20250301
typing-inspect==0.9.0
typing_extensions==4.12.2
tzdata==2025.1
ujson==5.10.0
ultralytics==8.3.93
ultralytics-thop==2.0.14
umap-learn==0.5.7
unidiff==0.7.5
unique-identifier-msgs==2.2.1
urllib3==2.3.0
uvicorn==0.34.0
virtualenv==20.29.3
visualization-msgs==4.9.0
voyageai==0.3.2
wcwidth==0.2.13
webencodings==0.5.1
weblinx==0.3.2
weblinx-browsergym==0.0.1.dev14
websockets==15.0.1
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
XlsxWriter==3.2.2
xxhash==3.5.0
yapf==0.43.0
yarl==1.18.3
zhipuai==2.1.5.20250106
zstandard==0.23.0
